.one-my{
background: url(1.png) no-repeat 0 0;
height: 400px;
background-size: cover;
}

.one-my .container h2, .one-my .container h4{
	text-shadow: -1px -4px 3px black;
}
.one-my .container h2{
	margin-top: 70px;
}
.two-my {
	min-height: 148px;
}
@media screen and (max-width:672px) {
 .one-my .container h4{
 	display: none;
 }
 .one-my .container h2{
	margin-top: 80px;
}
}
@media screen and (max-width:541px) {
 .one-my .container h2{
	margin-top: 60px;
}
}
@media screen and (max-width:355px) {
 .one-my .container h2{
	margin-top: 40px;
}
}